In [3]:
import pandas as pd

In [4]:
#Import the dataset from this address.
df=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|")

In [5]:
df

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [15]:
#Assign it to a variable called users and use the 'user_id' as index
users=df.set_index(['user_id'])

In [16]:
#See the first 25 entries
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [17]:
#See the last 10 entries
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [18]:
#What is the number of observations in the dataset?
users.shape

(943, 4)

In [28]:
#What is the number of columns in the dataset?
len(users.columns)

4

In [29]:
#Print the name of all the columns.
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [36]:
#How is the dataset indexed?
print(users.index.name)

user_id

In [51]:
#What is the data type of each column?
users.dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [38]:
#Print only the occupation column
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [39]:
#How many different occupations are in this dataset?
len(users['occupation'].value_counts())

21

In [40]:
#What is the most frequent occupation?
users['occupation'].value_counts().idxmax()

'student'

In [41]:
#Summarize the DataFrame.
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [43]:
#Summarize all the columns
users.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [52]:
#Summarize only the occupation column
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [13]:
#What is the mean age of users?
df['age'].mean()

34.05196182396607

In [50]:
#What is the age with least occurrence?
users.age.value_counts().tail(1)

73    1
Name: age, dtype: int64